@font-face {
  font-family: "acid";
  src: url('/assets/fonts/AcidGrotesk-Regular.otf');
  font-display: swap;
}
:root{
  --background: #0C0C0C;
  --text: white;
  --input-container: #B29CFF;
  --input-button: #DAFF2E;
  --done: #FFE55E;
  --cancel: #FF544A;
  --l1: #3979FF;
  --l2: #FF823B;
  --l3: #24C24B;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  background-color: var(--background);
  color: var(--title);
  font-family: 'acid';

}
::-webkit-scrollbar{
  display: none;
}